.container{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card{
  background-color: #e9eff5cd;
  padding: 30px;
  border-radius: 3%;
}

.h1{
  text-align: center;
  margin-bottom: 20px;
}

.input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  margin: 20px;
}

.button{
  background-color: #e9eff5cd;
  padding: 10px;
  margin-top: 20px;
}
